---
title: Fierce Gnomes
---

  <div id="wrapper">
    <h1>Fierce Gnomes</h1>
    <h2>Happy birthday, Kate!</h2>

    <!-- Slideshow 1 -->
<!--     <ul class="rslides" id="slider1">
      <li><img src="images/1.jpg" alt=""></li>
      <li><img src="images/2.jpg" alt=""></li>
      <li><img src="images/3.jpg" alt=""></li>
    </ul> -->

    <!-- Slideshow 2 -->
<!--     <ul class="rslides" id="slider2">
      <li><a href="#"><img src="images/1.jpg" alt=""></a></li>
      <li><a href="#"><img src="images/2.jpg" alt=""></a></li>
      <li><a href="#"><img src="images/3.jpg" alt=""></a></li>
    </ul> -->

    <!-- Slideshow 3 -->
<!--     <ul class="rslides" id="slider3">
      <li><img src="images/1.jpg" alt=""></li>
      <li><img src="images/2.jpg" alt=""></li>
      <li><img src="images/3.jpg" alt=""></li>
    </ul> -->

    <!-- Slideshow 3 Pager -->
<!--     <ul id="slider3-pager">
      <li><a href="#"><img src="images/1_thumb.jpg" alt=""></a></li>
      <li><a href="#"><img src="images/2_thumb.jpg" alt=""></a></li>
      <li><a href="#"><img src="images/3_thumb.jpg" alt=""></a></li>
    </ul> -->

    <!-- Slideshow 4 -->
    <div class="callbacks_container">
      <ul class="rslides" id="slider4">
        <li>
          <img src="images/gnomes-before.jpg" alt="">
          <p class="caption">Ready gnomes!</p>
        </li>
        <li>
          <img src="images/gnomes-strong.jpg" alt="">
          <p class="caption">Strong gnomes!</p>
        </li>
        <li>
          <img src="images/gnomes-hiking.jpg" alt="">
          <p class="caption">Hiking gnomes!</p>
        </li>
        <li>
          <img src="images/over-there.jpg" alt="">
          <p class="caption">Stay back gnomes!</p>
        </li>
        <li>
          <img src="images/happy-gnomes.jpg" alt="">
          <p class="caption">Happy gnomes!</p>
        </li>
        <li>
          <img src="images/garmey-bday.gif" alt="">
          <p class="caption">Garmey gnome!</p>
        </li>
        <li>
          <img src="images/gnomes-on-top.jpg" alt="">
          <p class="caption">Gnomes on top!</p>
        </li>
        <li>
          <img src="images/gnomes-descending.jpg" alt="">
          <p class="caption">Downhill gnomes!</p>
        </li>
        <li>
          <img src="images/see-speak-hear-no-gnomes.gif" alt="">
          <p class="caption">See gnome, hear gnome, speak gnome evil!</p>
        </li>
        <li>
          <img src="images/st-pattys-gnomes.jpg" alt="">
          <p class="caption">St. Paddy's gnomes!</p>
        </li>
        <li>
          <img src="images/cold-gnomes.jpg" alt="">
          <p class="caption">Cold gnomes!</p>
        </li>
        <li>
          <img src="images/bus-stop-gnomes.jpg" alt="">
          <p class="caption">Fierce bus stop gnomes!</p>
        </li>
        <li>
          <img src="images/rescued-gnomes.jpg" alt="">
          <p class="caption">Rescued gnomes!</p>
        </li>
        <li>
          <img src="images/cheers.gif" alt="">
          <p class="caption">Cheers gnomes!</p>
        </li>
      </ul>
    </div>

    <!-- This is here just to demonstrate the callbacks -->
<!--     <ul class="events">
      <li><h3>Example 4 callback events</h3></li>
    </ul> -->



<!--     <a href="http://responsiveslides.com/" id="download">See the documentation</a>
    <p class="footer">ResponsiveSlides.js is created by <a href="http://viljamis.com">@viljamis</a>. It's released under the MIT license. If you have any questions or feedback you can use the <a href="https://github.com/viljami/ResponsiveSlides.js">GitHub project page</a>.</p> -->
  </div>