---
title: Fierce Gnomes
---

  <div id="wrapper">
    <h1>Fierce Gnomes</h1>
    <h2>Happy birthday, Kate!</h2>

    <div class="callbacks_container">
      <ul class="rslides" id="slider4">
        <li>
          <img src="images/gnomes-before.jpg" alt="">
          <p class="caption">Ready gnomes!</p>
        </li>
        <li>
          <img src="images/gnomes-strong.jpg" alt="">
          <p class="caption">Strong gnomes!</p>
        </li>
        <li>
          <img src="images/gnomes-hiking.jpg" alt="">
          <p class="caption">Hiking gnomes!</p>
        </li>
        <li>
          <img src="images/over-there.jpg" alt="">
          <p class="caption">Stay back gnomes!</p>
        </li>
        <li>
          <img src="images/happy-gnomes.jpg" alt="">
          <p class="caption">Happy gnomes!</p>
        </li>
        <li>
          <img src="images/garmey-bday.gif" alt="">
          <p class="caption">Birthday gnome!</p>
        </li>
        <li>
          <img src="images/gnomes-on-top.jpg" alt="">
          <p class="caption">Gnomes on top!</p>
        </li>
        <li>
          <img src="images/gnomes-descending.jpg" alt="">
          <p class="caption">Downhill gnomes!</p>
        </li>
        <li>
          <img src="images/see-speak-hear-no-gnomes.gif" alt="">
          <p class="caption">See gnome, hear gnome, speak gnome evil!</p>
        </li>
        <li>
          <img src="images/st-pattys-gnomes.jpg" alt="">
          <p class="caption">St. Paddy's gnomes!</p>
        </li>
        <li>
          <img src="images/cold-gnomes.jpg" alt="">
          <p class="caption">Cold gnomes!</p>
        </li>
        <li>
          <img src="images/bus-stop-gnomes.jpg" alt="">
          <p class="caption">Fierce bus stop gnomes!</p>
        </li>
        <li>
          <img src="images/rescued-gnomes.jpg" alt="">
          <p class="caption">Rescued gnomes!</p>
        </li>
        <li>
          <img src="images/cheers.gif" alt="">
          <p class="caption">Cheers gnomes!</p>
        </li>
      </ul>
    </div>
  </div>